
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
  color:black;
}

#CompanySearch {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#CompanySearch:focus {outline: 3px solid #ddd; color:black;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd; color:black;}

.show {display: block;}


#DepSearch {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 30%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 4px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-left: 20px;
  margin-right: 10px;
  align-self: left;
}
#ArrSearch {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 30%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 4px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}
#ACSearch {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 30%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 4px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-left: 10px;
  margin-right: 20px;
  align-self: right;
}
#List {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  color: white;
  background-color: #00000060
}


#List th, #List td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#List tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#List tr.header, #List tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
  color:black;
}

.HomeBtn{
	display: flex;
    border-radius: 10px;
    border: black;
    font-size: large;
    align-content: center;
	position: absolute;
	right: 10px;
	top: 10px;	
}

.PageTitle{
	background-color:#f1f1f1d2;
	text-align:center;
}

.oal{
	background-image: url(./img/oaldh8d.png);
	background-size: 100%;
  background-attachment: fixed;
}

.link{
  background-color: #f1f1f190;
}

.airportName{
  font-size: 15px;
  text-align:left;
}

.airportIATA{
  font-size: 18px;
  text-align:left;
}

.airportICAO{
  font-size: 20px;
  text-align:left;
}